<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if books.length}}
  <h2>Book List:</h2>
  <ul>
    {{#each books}}
      <li>
        <strong>Title:</strong> {{this.title}} <br>
        <strong>Author:</strong> {{this.author}} <br>
        <strong>Publication Year:</strong> {{this.publicationYear}}
      </li>
      <br>
    {{/each}}
  </ul>
{{else}}
  <p>No books found in the collection.</p>
{{/if}}